.app {
  height: 100%;
  border: 1px solid white;
  box-shadow: rgba(21, 23, 26, 0.3) 6px 14px 11px 6px;
  padding: 40px;
  margin: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

.drop-down-room {
    display: flex;
    justify-content: center;
} 

.drop-down-room select {
  border-radius: 4px;
  width: 185px;
  margin: 10px;
  padding: 5px 5px;
}

.chart {
  border-left: 2px solid #5a5959;
  border-bottom: 2px solid #5a5959;
  box-shadow: 1 0 0px rgba(0, 0, 0, 0.3);
  border-radius: 1px;
  box-sizing: border-box;
}